:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #010101;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-size:1.2em;
}

h1 {
  text-align: center;
  font-size: 3.0em;
  line-height: 1.1;
}

p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.label {
  position:relative;
  top: -10px;
  left: -15px;
}

.date-span {
  margin-top: -20px;
}

.weather-main {
  width: 100%;
  padding: 20px;
  align-items: center;
}

.runwaysDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
}

.runwayDiv {
  align-items: center;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 600px;
}

.rwImg {
  margin-top:50px;
  height: 300px;
  display: block;
  position: relative

}

.runwayData {
  align-items: center;
  display: inline-block;
  padding-right: 100px
}

.radar {
  position:relative;
  top: -90px;
  left: 0px;
  height: 500px;
}

.radarDiv {
  width: 400px;
  height: 300px;
  overflow:hidden;
  padding-left: 20px;
}

.weatherStatus {
  width: 400px;
  padding-top: 20px;
  margin-right: 20px;
}


.clear {
  clear: both;
}

.wd {
  padding-right: 20px;
}

.windDirImg {
  width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  height: auto;
}

.weatherDiv {
  max-width: 50%;
  min-width: 510px;
  float: left;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main .statusBoxesContainer {
  padding-left: 20px;
}

.statusDiv {
  padding-top: 20px;
  width: 400px;
}

.alert {
  margin: 5px;
  background-color: #ebe5e6;
  color: #721c24;
  padding: 2px;
  border-radius: 5px;
}

.pagedDiv {
  height: 350px;
  overflow-y: auto;
  width: 700px;
}

.aircraftName {
  width: 120px;
  display: inline-block;
}

.aircraftStatusDiv {
  margin: 20px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1em;
  border-radius: 1em;
  background: #0e0e0e;
  border-color: #333;
  border-style: solid; /* Added border style */
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  max-width: 500px;
  font-size: 1em;
}